.container1 {
    display: grid;
    grid-template-columns: repeat(16, 50px);

   
    
    
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
   
    
}